.top-product{
    border-radius: 5px;
    box-shadow: rgba(44, 34, 37, 0.25) 0px 2px 5px -1px, rgba(56, 41, 41, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s;
}
.top-product:hover {
    box-shadow: rgba(247, 51, 93, 0.1) 0px 4px 16px, rgba(250, 41, 146, 0.05) 0px 8px 32px;
}
.top-product-img {
    padding: 20px;
}
.top-product-img img {
    width: 100%;
    
}
.top-product-text {
    padding: 30px;
}
.top-product-text h3{
    margin-top: 0;
    color: rgb(218, 10, 27);
}
.top-product-text p{
    text-align: justify;
}
.product-btn{
    border: none;
    outline: none;
    padding: 7px 15px;
    background-color: rgb(218, 7, 35);
    border-radius: 4px;
    cursor: pointer;
    font: 400;
    font-size: 15px;
    color: #fff;
}
